name: CI

on:
  create:
    branches:
      - release/**
  push:
    branches:
      - main
      - release/**
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    env:
      BUILD_CONFIG: Release
      SOLUTION: BLTools.Core.sln

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get Build Version
        id: version
        run: |
          Import-Module ./build/GetBuildVersion.psm1
          $version = GetBuildVersion -VersionString ${{ github.ref }}
          "BUILD_VERSION=$version" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          Write-Host "Build version: $version"
        shell: pwsh

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      - name: Restore dependencies
        run: dotnet restore ${{ env.SOLUTION }}

      - name: Build
        run: dotnet build ${{ env.SOLUTION }} --configuration ${{ env.BUILD_CONFIG }} -p:Version=${{ env.BUILD_VERSION }} --no-restore

      - name: Run tests
        run: dotnet test ${{ env.SOLUTION }} --configuration ${{ env.BUILD_CONFIG }} --no-restore --no-build --verbosity normal

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2
        with:
          nuget-version: latest

      - name: Publish to NuGet
        if: startsWith(env.BUILD_CONFIG, 'Release')
        run: nuget push **/*.nupkg -Source https://api.nuget.org/v3/index.json -ApiKey ${{ secrets.NUGET_API_KEY }} -SkipDuplicate
        shell: pwsh
